textarea{
    width: 90%;
}

input[type="submit"]{
    margin-top: 5px;
    margin-bottom: 15px;
}

div{
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

li{
    margin-top: 2px;
    margin-bottom: 2px;
}

button{
    margin-bottom: 5px;
}

.subject{
    font-size: 19px;
}

.detail{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #42C7F1;
    line-height: 2;
    font-size: 19px;
    flex-grow: right;
    border: 4px solid #000;
}